.project {
  padding: 80px 0;
  position: relative;
  background-color: black;
}

.project h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

.project p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255, 255, 255 / 10%);
}

.project .nav.nav-pills .nav-item {
  width: 33.33333333333333%;
}

.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.8px;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}

.project .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link.active#project-tabs-tab-first::before {
  width: 100% !important;
  border-radius: 55px 0 0 55px;
}
.project .nav.nav-pills .nav-link.active#project-tabs-tab-second::before {
  width: 100% !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.project .nav.nav-pills .nav-link.active#project-tabs-tab-third::before {
  width: 100% !important;
  border-radius: 0 55px 55px 0;
}

.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgb(255, 255, 255, 1);
}

.nav-link#project-tabs-tab-first {
  border: 1px solid rgb(255, 255, 255, 0.5);
  border-radius: 55px 0 0 55px;
}

.nav-link#project-tabs-tab-second {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-link#project-tabs-tab-third {
  border: 1px solid rgb(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}

.project-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 12px;
  margin-top: 24px;
  height: 50vh;
}

.project-imgbx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.project-imgbx:hover::before {
  height: 100%;
}

.project-info {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}

.project-info:hover {
  opacity: 1;
  top: 50%;
}

.project-info h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}

.project-info span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  left: 0;
  z-index: -4;
}

.technology {
  margin: 10px 0;
}

.technology .badge {
  margin: 0 5px;
} 

 .modal-dialog .modal-content {
  width: 85vw;
  margin: 0 auto;
  margin-top: 10vh;
  color: black;
  border-radius: 20px;
}

.modal-image {
  width : 80%;
  height: 50vh;
  margin-left: 10%;
  margin-right: auto;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

/* Media query for mobile devices */

@media only screen and (max-width: 768px) {
  .project h2 {
    font-size: 35px;
  }

  .project p {
    font-size: 15px;
    width: 80%;
  }

  .project .nav.nav-pills {
    width: 100%;
  }

  .project .nav.nav-pills .nav-item {
    width: 100%;
  }

  .project .nav.nav-pills .nav-link {
    padding: 10px 0;
  }

  .project-imgbx {
    height: 30vh;
  }

  .project-info h4 {
    font-size: 20px;
  }

  .project-info span {
    font-size: 12px;
  }

  .background-image-right {
    width: 50%;
  }

  .modal-dialog .modal-content {
    width: 100vw;
    margin: 0 auto;
    margin-top: 10vh;
    color: black;
    border-radius: 20px;
  }

  .modal-image {
    width : 100%;
    height: 50vh;
    margin-left: 0;
    margin-right: auto;
  }
}
