.social-icons {
  margin-left: 14px;
}

.social-icons a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-left: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icons a::before {
  content: "";
  width: 42px;
  height: 42px;
  border-radius: 50%;
  position: absolute;
  background-color: #ffffff;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icons a:hover::before {
  transform: scale(1);
}

.social-icons a img {
  width: 100%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icons a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(90%) hue-rotate(346deg) brightness(10%);
}

/* Media query for mobile devices */

@media only screen and (max-width: 768px) {
  .social-icons {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    padding: 10px;
    margin-left: 0;
  }
}
